META-INF/wsdl/CommonTranService_metadata1.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ServerTran.XQBHServer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ServerTran.XQBHServer/" version="1.0">
  <xs:element name="Comtran" type="tns:Comtran"></xs:element>
  <xs:element name="ComtranResponse" type="tns:ComtranResponse"></xs:element>
  <xs:element name="getOut" type="tns:getOut"></xs:element>
  <xs:element name="getOutResponse" type="tns:getOutResponse"></xs:element>
  <xs:complexType name="getOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:tranObj"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tranObj">
    <xs:sequence>
      <xs:element name="HeadMap">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranMap">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="CWDM_U" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="CWXX_U" type="xs:string"></xs:element>
      <xs:element name="buildSUCCESS" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Comtran">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComtranResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>